@model ViaticosWeb.Models.VehMae

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>VehMae</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehPla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehPla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreCod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreCod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarCod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarCod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipCod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipCod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vo2Cod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vo2Cod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehKm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehKm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehEst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehEst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehAno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehAno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asignado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asignado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FecReg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FecReg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codemp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codemp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecini)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecini)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecfin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecfin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecbaj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecbaj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehUnid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehUnid)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Item }) |
    @Html.ActionLink("Back to List", "Index")
</p>
