@model List<ViaticosWeb.Models.ImprimirValeModel>
@{
    ViewBag.Title = "Listado de Vales";
}

<h2 class="text-center my-4">Listado de Vales para Imprimir</h2>

<form id="vehiculosForm" method="post" action="@Url.Action("DescargarExcel", "ImprimirVale")" class="container">
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th><input type="checkbox" id="selectAll" /></th>
                    <th>Solicitud</th>
                    <th>Marca</th>
                    <th>Placa</th>
                    <th>Asignado</th>
                    <th>Descripción</th>
                    <th>KM</th>
                    <th>Cantidad</th>
                    <th>Grifo</th>
                    <th>CodAct</th>
                    <th>Unidad de Medida</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vehiculo in Model)
                {
                    <tr>
                        <td><input type="checkbox" name="seleccionados" value="@vehiculo.SolCod" class="selectItem" /></td>
                        <td>@vehiculo.SolCod</td>
                        <td>@vehiculo.Marca</td>
                        <td>@vehiculo.Placa</td>
                        <td>@vehiculo.Asignado</td>
                        <td>@vehiculo.Descripcion</td>
                        <td>@vehiculo.KM</td>
                        <td>@vehiculo.Cantidad</td>
                        <td>@vehiculo.Grifo</td>
                        <td>@vehiculo.CodAct</td>
                        <td>@vehiculo.TipoMedida</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="text-center mt-3">
        <button type="submit" class="btn btn-success">Descargar Excel</button>
    </div>
</form>

<!-- Agregar scripts de JavaScript para manejar la selección de todos los checkboxes -->
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Seleccionar todos los checkboxes
        $(document).ready(function () {
            $('#selectAll').click(function () {
                $('.selectItem').prop('checked', this.checked);
            });

            // Deseleccionar "Select All" si alguno de los checkboxes individuales es desmarcado
            $('.selectItem').change(function () {
                if (!this.checked) {
                    $('#selectAll').prop('checked', false);
                }
                // Si todos los checkboxes individuales están seleccionados, marcar "Select All"
                if ($('.selectItem:checked').length === $('.selectItem').length) {
                    $('#selectAll').prop('checked', true);
                }
            });
        });
    </script>
}
