@model IEnumerable<ViaticosWeb.Models.VehCab>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codveh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kmant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kmact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.km)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipman)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.observaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codgrifo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usureg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fegreg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.anno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gercod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.arecod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecaut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuaut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecimp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuimp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipcom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecrev)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usurev)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuanu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecanu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codgrupo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codveh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kmant)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kmact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.km)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipman)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.observaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codgrifo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usureg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fegreg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.anno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gercod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.arecod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecaut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuaut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecimp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuimp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipcom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecrev)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usurev)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuanu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecanu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codgrupo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.solcod }) |
            @Html.ActionLink("Details", "Details", new { id=item.solcod }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.solcod })
        </td>
    </tr>
}

</table>
